<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>게시판 서비스</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="common/header :: headerFragment"></div>
<div class="container">
    <div class="page-header"><h3>자유 게시판</h3></div>
    <div class="float-end mb-3">
        <a href="/post/create" class="btn btn-primary">글쓰기</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>번호</th>
            <th>작성자</th>
            <th>제목</th>
            <th>생성 시간</th>
            <th>수정 시간</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${postList}">
            <td th:text="${post.id}"></td>
            <td th:text="${post.user_email}"></td>
            <td><a th:href="@{/post/detail/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
            <td th:text="${#temporals.format(post.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${#temporals.format(post.updatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td>
                <a th:href="@{/post/detail/{id}(id=${post.id})}" class="btn btn-primary">상세보기</a>
            </td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, postList.totalPages-1)}"
            th:classappend="${pageNum == postList.pageable.pageNumber} ? 'active'">
            <a class="page-link" th:href="@{/post/list/(page=${pageNum})}" th:text="${pageNum + 1}"></a>
        </li>
    </ul>
</div>
</body>
</html>
