<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>강의 생성</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="common/header :: headerFragment"></div>
<div class="container">
  <div class="page-header"><h3>강의 생성!!!!!!!!!!</h3></div>
  <form th:action="@{/ssr/lecture/create}" method="post" id="form" name="form">
    <input type="hidden" name="subjectId" id="subjectId" th:value="${subjectId}"/>
    <div class="form-group">
      <div class="form-group">
        <label for="userEmail">강의 생성자 이메일</label>
        <input type="email" class="form-control" id="userEmail" name="userEmail" required>
      </div>
      <label for="title">강의 제목</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="form-group">
      <label for="video">강의 영상</label>
      <input type="file" id="video" name="video">
    </div>
    <div class="form-group">
      <label for="image">강의 썸네일</label>
      <input type="file" id="image" name="image">
    </div>
    <button type="submit" class="btn btn-primary mt-3">저장</button>
  </form>
  <div th:if="${errorMessage}" class="alert alert-danger mt-3" th:text="${errorMessage}"></div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const el = document.getElementById("form");
  el.addEventListener('submit', () => formFunc(event));
  async function formFunc(event){
      event.preventDefault();
      const userEmail = document.getElementById('userEmail').value;
      const title = document.getElementById('title').value;
      const subjectId = document.getElementById('subjectId').value;
      let videoDuration = 0;

      const fileVideoInput = document.getElementById('video');
      const video = fileVideoInput.files[0];

      const formData = new FormData();
      formData.append('userEmail', userEmail);
      formData.append('title', title);
      formData.append('subjectId', subjectId);
      const fileImageInput = document.getElementById('image');
      const image = fileImageInput.files[0];
      formData.append('image', image);

      if (video) {
        const fileURL = URL.createObjectURL(video);
        const thisVideo = document.createElement('video');

        thisVideo.preload = 'metadata';
        thisVideo.src = fileURL;
        console.log(thisVideo)

        thisVideo.onloadedmetadata = function() {
            window.URL.revokeObjectURL(fileURL);
            videoDuration = Math.floor(thisVideo.duration); // 소수점 내림으로 고점.
            console.log(videoDuration);
            formData.append('video', video);
            formData.append('videoDuration', videoDuration);
            postEvent(formData,subjectId);
        };
      }else{
        postEvent(formData,subjectId);
      }
  }

  async function postEvent(thisFormData,subjectId){
  console.log(44);
    try {
        const response = await axios.post("/lecture/create", thisFormData,
                         {headers : {'Content-Type': 'multipart/form-data'}}); // 파일전송을 위한 추가 코드
        if(response.data.status_code === 201){
          location.href="/ssr/lecture/list/"+subjectId;
        }
        console.log(response)
    } catch (e) {
        console.log(e.message)
    }
  }
</script>
</body>
</html>
