@charset "UTF-8";

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 900;
  src: local("Noto Sans KR Black"), url("../fonts/NotoSansKR-Black.woff2") format("woff2"), url("../fonts/NotoSansKR-Black.woff") format("woff"), url("../fonts/NotoSansKR-Black.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  src: local("Noto Sans KR Bold"), url("../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 500;
  src: local("Noto Sans KR Medium"), url("../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../fonts/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  src: local("Noto Sans KR Regular"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 300;
  src: local("Noto Sans KR Light"), url("../fonts/NotoSansKR-Light.woff2") format("woff2"), url("../fonts/NotoSansKR-Light.woff") format("woff"), url("../fonts/NotoSansKR-Light.otf") format("opentype");
}


/* 초기화 */
html { overflow-x:hidden; }
body {margin:0;padding:0;font-family:'Noto Sans KR', dotum, sans-serif;font-size:12px; }
html, body { height:100%;  }
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:12px;font-family:'Noto Sans KR', dotum, sans-serif}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

ul, dl,dt,dd {margin:0;padding:0;list-style:none}
ol {margin:0;padding:0;}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle;font-size:12px}
input, button {margin:0;padding:0;font-family:'Noto Sans KR', dotum, sans-serif;font-size:12px}
input[type="submit"] {cursor:pointer}
button { cursor:pointer; outline:0; border:0; background-color: transparent; }

table { width:100%; border-collapse:collapse; }
td { padding:0; }

textarea, select {font-family:'Noto Sans KR', dotum, sans-serif;font-size:12px}
textarea { resize:none; }
select {margin:0}
p {margin:0;padding:0;word-break:break-all;  }
hr {display:none}
pre {overflow-x:scroll;font-size:12px}
a {color:#000;text-decoration:none}

table caption { 
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	clip: rect(0,0,0,0);
}
*, :after, :before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.sr_only, .skip_nav {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	clip: rect(0,0,0,0);
}

input, select, textarea, input:focus, select:focus, textarea:focus { border:0; outline:none; }






