.global_bg{background-color:#fffdfa;}

.teen_yellow{color:#ffdb69; background-color:#ffdb69;}
.teen_yellow_font{color:#ffdb69;}
.teen_yellow_bg{background-color:#ffdb69;}

.teen_red{color:#f27885; background-color:#f27885;}
.teen_red_font{color:#f27885;}
.teen_red_bg{background-color:#f27885;}

.teen_mint{color:#6fc8b8; background-color:#6fc8b8;}
.teen_mint_font{color:#6fc8b8;}
.teen_mint_bg{background-color:#6fc8b8;}

.teen_blue{color:#5087c7; background-color:#5087c7;}
.teen_blue_font{color:#5087c7;}
.teen_blue_bg{background-color:#5087c7;}