.inner {
    width: 1280px;
    margin: 0 auto;
    position: relative;
  }
  .inner h2 {
    font-size: 36px;
    font-weight: 700;
  }
  .swiperLectureBest {
    margin: 35px 0 0;
    border-right: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    display: none;
  }
  .swiper-button-prev {
    left: -60px;
    width: 30px;
    height: 51px;
    background: url("@/assets/images/ico_sw_prev.png") 50% 50% no-repeat;
    background-size: contain;
  }
  .swiper-button-next {
    right: -60px;
    width: 30px;
    height: 51px;
    background: url("@/assets/images/ico_sw_next.png") 50% 50% no-repeat;
    background-size: contain;
  }
  .swiper-slide {
    position: relative;
    width: calc(100% / 4);
    height: 390px;
    border: 1px solid #ccc;
    padding: 20px 27px;
  }
  .swiper-slide .thumb {
    width: 100%;
    height: 220px;
    overflow: hidden;
  }
  .swiper-slide .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-slide .txt {
    margin: 20px 0 0;
  }
  .swiper-slide .txt .subject {
    font-size: 18px;
    font-weight: 400;
  }
  .swiper-slide .txt .name {
    margin: 15px 0 0;
    font-size: 14px;
    font-weight: 400;
    color: #5b5b5b;
  }
  .swiper-slide .btn_like {
    position: absolute;
    bottom: 20px;
    right: 27px;
    width: 24px;
    height: 24px;
    background: url("@/assets/images/ico_like.png") 50% 50% no-repeat;
    background-size: contain;
  }