<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>QnA 목록</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="common/header :: headerFragment"></div>
<div class="container">
  <div class="page-header"><h3>QnA 목록</h3></div>
  <div class="float-end">
    <a href="/qna/create" class="btn btn-primary">질문 작성하기</a>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>id</th>
      <th>작성자</th>
      <th>제목</th>
      <th>생성 시간</th>
      <th>상세보기</th>
      <th>답변하기</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="questions : ${qnaList}">
      <td th:text="${questions.id}"></td>
      <td th:text="${questions.questionUserName}"></td>
      <td th:text="${questions.title}"></td>
      <td th:text="${#temporals.format(questions.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
      <td><a th:href="@{/qna/detail/{id}(id=${questions.id})}" class="btn btn-primary">상세보기</a></td>
      <td>
        <a th:if="${questions.answerText == null}" th:href="@{/qna/answer/{id}(id=${questions.id})}" class="btn btn-primary">답변하기</a>
      </td>

    </tr>
    </tbody>
  </table>
  <ul class="pagination justify-content-center">
    <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, qnaList.totalPages-1)}"
        th:classappend="${pageNum == qnaList.pageable.pageNumber}? active">
      <a class="page-link" th:href="@{/qna/list/(page=${pageNum})}" th:text="${pageNum+1}"></a>
    </li>
  </ul>
</div>
</body>
</html>