<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
</head>
<body>
<h2>비밀번호 재설정</h2>
<form id="reset-password-form" action="/api/user/do-reset-password" method="post">
    <input type="hidden" id="token" name="token" value="${token}">
    <label for="newPassword">새 비밀번호:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <br>
    <label for="confirmPassword">비밀번호 확인:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    <br>
    <button type="submit">비밀번호 변경하기</button>
</form>
<a href="/api/user/login">로그인</a>
</body>
</html>
