<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>공지사항 상세보기</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="common/header :: headerFragment"></div>
<div class="container">
  <div class="page-header"><h3>공지사항</h3></div>
  <table class="table">
    <tr>
      <td>제목</td>
      <td th:text="${notice.title}"></td>
    </tr>
    <tr>
      <td>내용</td>
      <td th:text="${notice.content}"></td>
    </tr>
    <tr>
      <td>관리자</td>
      <td th:text="${notice.userNickname}"></td>
    </tr>
    <tr>
      <td>생성시간</td>
      <td th:text="${notice.createdTime}"></td>
    </tr>
    <tr>
      <td>수정시간</td>
      <td th:text="${notice.updatedTime}"></td>
    </tr>
  </table>
  <div class="float-end">
    <a th:href="@{/notice/delete/{id}(id=${notice.id})}" class="btn btn-primary">삭제</a>
  </div>
</div>
</body>
</html>
